*{
    margin: 0;
    padding: 0;
    font-family: 'Muli';
}
#backtop {
    width: 50px;
    height: 50px;
    background: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    z-index: 5;
  }
html{
    scroll-behavior: smooth;
}
.TQ{
    width: 100%;
    background-color: rgb(234, 228, 221);
}
.TQ1{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(85, 78, 78, 0.7),rgba(3, 4, 4, 0.7)), url(image_gioithieu/429575811_122134719950051781_4642329617220679025_n.jpg) ;   
    background-position: center;
    background-size: cover;
    position: relative;
}
.imglogo{
    border-radius: 50%;
    width:80px ; height: auto;
}
nav{
    display: flex;
    padding: 2% 6% 1%;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(141,164,169,0.6);
}
.nav-links{
    flex: 1;
    text-align: center;
    font-size: large;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}
.nav-links ul li a:hover{
    color:  #003056;
    size: 20px;
   
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #003056;
    display: block;
    margin:auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width:100%;

}
.headericon ul {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
} 
.headericon ul li{
    justify-content: space-between;
    position: relative;
    padding: 20px;
}
.headericon ul li a i{
    color: #ffff;
    transition: 0.5s;
}
.headericon ul li a i:hover{
    color: #003056;
}
.text-box{
    font-family: Tahoma;
    font-size: 70px;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
nav .fa-regular{
    display: none;
}
nav .fa-bars{
    display: none;
}
.Footer{
    background: linear-gradient(#276F78,#003366);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    padding-bottom: 41px;
    position: relative;
    overflow: hidden;

}
.Footer h1{
    font-weight:bolder;
    font-size: 2.8em;
    font-family:'Tahoma';
   
}
.Footer h4{
    font-weight: lighter;
    font-size: 1.5em;
    font-family: Verdana;
    margin-top: 10px;
}
.Footer div{
    margin-top: 30px;
    font-weight: lighter;
    font-size: 1em;
    font-family: Verdana;
    
    
}
.Footer div ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

}
.Footer div ul li h3{
    padding: 10px;
    
}
.Footer  div  button {
    border:10px;
    padding: 10px 15px;
    font: 1.4em sans-serif;
    /* margin-top: 10px; */
    background-color: rgba(0,0, 0, 0.5);
    color: #fff;
    /* margin-left: 10px; */
    border-radius: 5px;
    margin-right: 20px;
    
}
.Footer  div  button a{
    text-decoration: none;
    color: #fff;
}
.Footer  div  button a:hover{
    color: #00B0CC;

}
.flex{
    display: flex;
    justify-content: flex-start;
    z-index: 4;

}
#animation{
    width: 30%;
    z-index: 4;
}
#animation img{
    width: 150%;
    animation: nudge 5s linear infinite alternate;
    animation-direction: alternate;
}
.Info{
    width: 70%;
    margin: 0;
    z-index: 4;
}
.Info ul div li {
   text-align: left;
   margin-top: 20px;
  
}
.text1 :hover{
    color: #00B0CC;
}
.text1 a:hover{
    color: #00B0CC;
}

.Info ul div li a{
    text-decoration: none;
    color: #fff;
}

.text{
    font-size: 1.8rem;
}
@keyframes nudge{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
}
  #stars-container {
    position: relative;

  }
  .snowflake {
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url('image_gioithieu/SPIT\ FRONT-\ END\ \(2\).png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    animation: snowfall 15s infinite;
    z-index: 1;
    /* background-color: #0a1a44; */
    top:0;
    left:0
  }
  
  @keyframes snowfall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(300px);
    }
  }


.gachchan{
    background-color: #00B0CC;
    height: 1.7px;
    width: 20%;
    margin: 10px ;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 20px;
}
.title h6{
    font-weight:lighter;
    font: 3em;
    color: rgba(#003056, #003056, #003056, 0.5);
    padding-left: 20px;
}
.title h1{
    margin-bottom: 10px;
    font-weight: 900;
    font: 2em;
    color: #003056;
}
.GioiThieu{
    padding-top: 20px;
    display: flex;
    width: 1470px;
}
.GioiThieu div img{
    width: 700px;
    padding-top: 50px;
}
.GioiThieu div{
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.3s;
    text-align: justify;
}
.GioiThieu div h1{
    font-size: 40px;
}
.GioiThieu div p{
    padding: 15px;
    font-size: 20px;
    color: #545454;
}
.GioiThieu div h3{
    border: 20px solid #fff;
    background-color: #fff;
    text-align: center;
}
.BCN{
    padding: 20px;
    padding-left: 50px;
    padding-bottom: 100px;
}
.BCN h1{
    font-size: 40px;
}

.BCN .Flex{
    display: flex;
    margin-left: 100px;
    margin-bottom: -150px;
}
.BCN .Flex .Images{
    position: relative;
    bottom: 0;
    right: 100px;
}
.Images .shape{
    height: 500px;
}
.Images .image{
    height: 400px;
    position:absolute;
    left: 300px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.Images:hover .image{
    left: 400px;
}
.BCN .Flex .Borders{
    border-radius: 16px;
    border-color: #028090;
    border-style: solid;
    background-image: linear-gradient(336deg,#7AB6E5,#EAEAE8);
    height: 200px;
    width: 500px;
    padding: 20px;
    color: #003056;
    position: absolute;
}
.CheckThanh{
    margin-left: 150px;
}
.CheckThanh1{
    margin-left: 600px;
    margin-top: 140px;
}
.BCN .Flex div p{
    font-size: 15px;
    padding: 5px;
}
.CheckToan{
    margin-left: 0px;
    margin-top: 140px;
}
.CheckToan1{
    margin-left: 45%;
   
}
.Khoa{
    font-size: 2rem;
    padding: 10px;
    color: #003056;
}
.ThanhVien{
    margin: 0 auto;
    padding: 3rem 2rem;
    width: 1410px;
}
.ThanhVien .Product_ThanhVien{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap: 2rem;
}
.ThanhVien .Product_ThanhVien .product{
    text-align: center;
    padding: 2rem 2rem;
    background-color: #fff;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, .1);
    outline: 0.1rem solid #003056;
    outline-offset: -1.5rem;
    cursor: pointer;
    border-radius: 30px;
}
.ThanhVien .Product_ThanhVien .product:hover{
    outline: .1rem solid #003056;
    outline-offset: 0;
}
.ThanhVien .Product_ThanhVien .product img{
    width: 100px;
    border-top-right-radius: 30px;
    border-bottom-left-radius:30px ;
    object-fit: cover;
}
.ThanhVien .Product_ThanhVien .product:hover img{
    transform: scale(.9);
}
.ThanhVien .Product_ThanhVien .product h3{
    padding: 1rem 0;
    font-size: 1rem;
    color: #444;
}
.ThanhVien .Product_ThanhVien .product h5{
    font-size: 0.7rem;
}
.ThanhVien .Product_ThanhVien .product:hover h3{
    color: #003056;
}
.ThanhVien .Product_ThanhVien .product:hover h5{
    color: #003056;
}
.ThanhVien h1{
    font-size: 40px;
    padding-bottom: 20px;
}

.product-pre{
    position: fixed;
    top:0; left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0,.8);
    display: none;
    align-items: center;
    justify-content: center;
}
.product-pre .pre{
    display: none;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    margin: 2rem;
    width: 23rem;
    border-radius: 30px;
    position: absolute;
}
.product-pre .pre.active{
    display: inline-block;
    transition: 1s;
}
.product-pre .pre img{
    width: 20rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    object-fit: cover;
}
.product-pre .pre .fa-solid{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: #003056;
}
.product-pre .pre .fa-solid:hover{
    transform: rotate(90deg);
}

.product-pre .pre h3{
    color: #003056;
    padding: .5rem 0;
    font-size: 1.5rem;
    padding: 10px;

}
.product-pre .pre h5{
    text-decoration: none;
}
.product-pre .pre p{
   padding: 10px;
}
@keyframes move{
    0%{
        opacity: 1;
        transform: translateY(0);
    }10%{
        opacity: 1;
    }90%{
        opacity: 1;
    }100%{
        opacity: 0;
        transform: translateY(50vh);
    }
}
/* Chuyển động trang */
/* section{
    overflow-x: hidden;
}
.setanimation{
    transform: translateX(-200%);
    transition: 2s;
}
.show-animate .setanimation{
    transform: translateX(0);
} */
@keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }
.setanimation{
    animation: appear linear;
    animation-timeline: show-animate();
    animation-range: entry 0% cover 40%;
}

 @media(max-width: 700px){
    #backtop {
        right: 220px;
      }
    .TQ1 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .flex{
        display: block;
    }
    .text-box{
        font-size: 22px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
        font-size: 15px;
        
    }
    .nav-links{
        position:absolute;
        background-color: rgb(157, 176, 180);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa-regular{
        display: block;
        color: #003056;
        padding: 10px 0px 1px;
        font-size: large;
        cursor: pointer;
    }
    nav .fa-bars{
        display: block;
    }
    .nav-links ul{
        padding: 20px;
    }
    .nav-links ul li a:hover{
        color:  #003056;
        size: 20px;
       
    }
    .nav-links i {
        padding: 20px;
    }
    .imglogo{
        border-radius: 50%;
        width:50px ; height: auto;
    }
    .Footer div ul{
        display: block;
        margin-left: 50px;
         margin-right: 50px;
    }
    .Info{
        display: block;
        width: 100%;
    }
    .flex{
        float: left;
        margin-bottom: 10px;
        display: block;
    }
    #animation{
        width: 100%;
    }
    #animation img{
        width: 110%;
        animation: nudge 5s linear infinite alternate;
        animation-direction: alternate;
        margin-left: 20px;
        margin-top: -20px;
        
    }
    .Footer h4{
        font-size: 20px;
    }
    .Footer h1{
        font-size: 25px;
    }
    .GioiThieu{
        display: block;
        padding-bottom: 20px;
    }
    .GioiThieu div img{
        width: 350px;
    }
    .GioiThieu div{
        padding-left: 20px;
        padding-right: 20px;
    }
    .GioiThieu div h1{
        font-size: 30px;
    }
    .GioiThieu div p{
        font-size: 15px;
    }
    .GioiThieu div h3{
        border: 10px solid #fff;
        background-color: #fff;
        text-align: center;
        font-size: 15px;
    }
    .BCN h1{
        font-size: 25px;
    }
    .BCN .Flex{
        display: block;
        padding: 100px;
    }
    .BCN .Flex div{
        height: 50px;
        width: 20px;
        padding: 10px;
    }
    .BCN .Flex div p{
        font-size: 4px;
        padding: 0px;
    }
    .BCN .Flex div h2{
        font-size: 15px;
        padding: 5px;
    }
    .BCN .Flex .Images{
        position: relative;
        bottom: 10rem;
        right: 200px;
        top: -10rem;
    }
    .Images .shape{
        height: 330px;
    }
    .Images .image{
        height: 250px;
        transform: translateX(-150%);
        margin-top: -320px;
        margin-left: 200px;
    }
    
    .Images:hover .image{
        left: 400px;
    }
    .BCN .Flex .Borders{
        border-radius: 10px;
        min-height: 150px;
        padding: 10px;
    }
    .title div .hr{
        margin-bottom: 120px;
    }
    .CheckThanh{
        margin-left: -20px;
        margin-bottom: 100px;
    }
    .CheckToan1{
        margin-top: 40px;
    }
    .BCN .Flex .Borders h2{
        font-size: 15px;
        padding: 4px;
    }
    .BCN .Flex .Borders p{
        font-size: 12px;
        padding: 2px;
    }
    .BCN .Flex .Borders li{
        font-size: 12px;
    }
    .BCN .Flex div p{
        font-size: 10px;
        padding: 5px;
    }
    .ThanhVien{
        margin-top: -100px;
    }
    .ThanhVien img{
        width: 50px;
    }
    .ThanhVien h1{
        font-size: 25px;
        padding: 10px;
    }
    .ThanhVien .Product_ThanhVien .product{
        box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, .1);
        width: 100px;
    }
    .ThanhVien .Product_ThanhVien{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        gap: 0.5rem;
    }
    .product-pre .pre{
        margin-right:auto;
        width: 10rem;
        border-radius: 30px;
        top: 20%;
        left: 5%;
    }
    .product-pre .pre .fa-solid{
        position: absolute;
        top: 0.8rem;
        right:0.8rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    .product-pre{
       min-height: 100%;
    }
} 


@media (max-width:756px){
    .GioiThieu{
        display: block;
        padding-bottom: 20px;
    }
    .GioiThieu div img{
        width: 350px;
    }
    .GioiThieu div{
        padding-left: 20px;
        padding-right: 20px;
    }
    .GioiThieu div h1{
        font-size: 30px;
    }
    .GioiThieu div p{
        font-size: 15px;
    }
    .GioiThieu div h3{
        border: 10px solid #fff;
        background-color: #fff;
        text-align: center;
        font-size: 15px;
    }
    .BCN h1{
        font-size: 25px;
    }
    .BCN .Flex{
        display: block;
        padding: 100px;
    }
    .BCN .Flex div{
        height: 50px;
        width: 20px;
        padding: 10px;
    }
    .BCN .Flex div p{
        font-size: 4px;
        padding: 0px;
    }
    .BCN .Flex div h2{
        font-size: 15px;
        padding: 5px;
    }
    .BCN .Flex .Images{
        position: relative;
        bottom: 10rem;
        right: 200px;
        top: -10rem;
    }
    .Images .shape{
        height: 330px;
    }
    .Images .image{
        height: 250px;
        transform: translateX(-150%);
        margin-top: -320px;
        margin-left: 200px;
    }
    
    .Images:hover .image{
        left: 400px;
    }
    .BCN .Flex .Borders{ 
        height: 400px;
        width: 400px;
        /* position: relative; */
        /* margin: 60px; */
       /* justify-content: center; */
       /* margin-left: -150px; */
       padding: 10px;
    }
    .CheckThanh{
        margin-left: -20px;
        margin-top: 40px;
    }
    .CheckToan1{
        margin-top: 40px;
    }
    .BCN .Flex .Borders h2{
        font-size: 15px;
        padding: 4px;
    }
    .BCN .Flex .Borders p{
        font-size: 12px;
        padding: 2px;
    }
    .BCN .Flex .Borders li{
        font-size: 12px;
    }
    .BCN .Flex div p{
        font-size: 10px;
        padding: 5px;
    }
    .ThanhVien img{
        width: 50px;
    }
    .ThanhVien h1{
        font-size: 25px;
        padding: 10px;
    }
    .ThanhVien .Product_ThanhVien .product{
        box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, .1);
        width: 100px;
    }
    .ThanhVien .Product_ThanhVien{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        gap: 0.5rem;
    }
    .product-pre .pre{
        margin-right: 15rem;
        width: 20rem;
        border-radius: 30px;
        top: 20%;
        left: 5%;
    }
    .product-pre .pre .fa-solid{
        position: absolute;
        top: 0.8rem;
        right:0.8rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    .product-pre{
       min-height: 100%;
    }
}

@media(max-width: 450px){
    .TQ1 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .flex{
        display: block;
    }
    .text-box{
        font-size: 22px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
        font-size: 15px;
        
    }
    .nav-links{
        position:absolute;
        background-color: rgb(157, 176, 180);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa-regular{
        display: block;
        color: #003056;
        padding: 10px 0px 1px;
        font-size: large;
        cursor: pointer;
    }
    nav .fa-bars{
        display: block;
    }
    .nav-links ul{
        padding: 20px;
    }
    .nav-links ul li a:hover{
        color:  #003056;
        size: 20px;
       
    }
    .nav-links i {
        padding: 20px;
    }
    .imglogo{
        border-radius: 50%;
        width:50px ; height: auto;
    }
    .Footer div ul{
        display: block;
        margin-left: 50px;
         margin-right: 50px;
    }
    .Info{
        display: block;
        width: 100%;
    }
    .flex{
        float: left;
        margin-bottom: 10px;
    }
    #animation{
        width: 100%;
    }
    #animation img{
        width: 110%;
        animation: nudge 5s linear infinite alternate;
        animation-direction: alternate;
        margin-left: 20px;
        margin-top: -20px;
        
    }
    .Footer h4{
        font-size: 20px;
    }
    .Footer h1{
        font-size: 25px;
    }
    .GioiThieu{
        display: block;
        padding-bottom: 20px;
    }
    .GioiThieu div img{
        width: 350px;
    }
    .GioiThieu div{
        padding-left: 20px;
        padding-right: 20px;
    }
    .GioiThieu div h1{
        font-size: 30px;
    }
    .GioiThieu div p{
        font-size: 15px;
    }
    .GioiThieu div h3{
        border: 10px solid #fff;
        background-color: #fff;
        text-align: center;
        font-size: 15px;
    }
    .BCN h1{
        font-size: 25px;
    }
    .BCN .Flex{
        display: block;
        padding: 100px;
    }
    .BCN .Flex div{
        height: 50px;
        width: 20px;
        padding: 10px;
    }
    .BCN .Flex div p{
        font-size: 4px;
        padding: 0px;
    }
    .BCN .Flex div h2{
        font-size: 15px;
        padding: 5px;
    }
    .BCN .Flex .Images{
        position: relative;
        bottom: 10rem;
        right: 200px;
        top: -10rem;
    }
    .Images .shape{
        height: 330px;
    }
    .Images .image{
        height: 250px;
        transform: translateX(-150%);
        margin-top: -320px;
        margin-left: 200px;
    }
    
    .Images:hover .image{
        left: 400px;
    }
     .BCN .Flex .Borders{ 
        height: 400px;
        width: 400px;
        /* position: relative; */
        /* margin: 60px; */
       /* justify-content: center; */
       /* margin-left: -150px; */
       padding: 10px;
    }
    .CheckThanh{
        margin-left: -20px;
        margin-top: 40px;
    }
    .CheckToan1{
        margin-top: 40px;
    }
    .BCN .Flex .Borders h2{
        font-size: 15px;
        padding: 4px;
    }
    .BCN .Flex .Borders p{
        font-size: 12px;
        padding: 2px;
    }
    .BCN .Flex .Borders li{
        font-size: 12px;
    }
    .BCN .Flex div p{
        font-size: 10px;
        padding: 5px;
    }
    .ThanhVien img{
        width: 50px;
    }
    .ThanhVien h1{
        font-size: 25px;
        padding: 10px;
    }
    .ThanhVien .Product_ThanhVien .product{
        box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, .1);
        width: 100px;
    }
    .ThanhVien .Product_ThanhVien{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        gap: 0.5rem;
    }
    .product-pre .pre{
        margin-right: 15rem;
        width: 20rem;
        border-radius: 30px;
        top: 20%;
        left: 5%;
    }
    .product-pre .pre .fa-solid{
        position: absolute;
        top: 0.8rem;
        right:0.8rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    .product-pre{
       min-height: 100%;
    }
} 

@media(max-width: 961px){
    .TQ1 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .flex{
        display: block;
    }
    .text-box{
        font-size: 22px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
        font-size: 15px;
        
    }
    .nav-links{
        position:absolute;
        background-color: rgb(157, 176, 180);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa-regular{
        display: block;
        color: #003056;
        padding: 10px 0px 1px;
        font-size: large;
        cursor: pointer;
    }
    nav .fa-bars{
        display: block;
    }
    .nav-links ul{
        padding: 20px;
    }
    .nav-links ul li a:hover{
        color:  #003056;
        size: 20px;
       
    }
    .nav-links i {
        padding: 20px;
    }
    .imglogo{
        border-radius: 50%;
        width:50px ; height: auto;
    }
    .Footer div ul{
        display: block;
        margin-left: 50px;
         margin-right: 50px;
    }
    .Info{
        display: block;
        width: 100%;
    }
    .flex{
        float: left;
        margin-bottom: 10px;
    }
    #animation{
        width: 100%;
    }
    #animation img{
        width: 110%;
        animation: nudge 5s linear infinite alternate;
        animation-direction: alternate;
        margin-left: 20px;
        margin-top: -20px;
        
    }
    .Footer h4{
        font-size: 20px;
    }
    .Footer h1{
        font-size: 25px;
    }
    .GioiThieu{
        display: block;
        padding-bottom: 20px;
    }
    .GioiThieu div img{
        width: 350px;
    }
    .GioiThieu div{
        padding-left: 20px;
        padding-right: 20px;
    }
    .GioiThieu div h1{
        font-size: 30px;
    }
    .GioiThieu div p{
        font-size: 15px;
    }
    .GioiThieu div h3{
        border: 10px solid #fff;
        background-color: #fff;
        text-align: center;
        font-size: 15px;
    }
    .BCN h1{
        font-size: 25px;
    }
    .BCN .Flex{
        display: block;
        padding: 100px;
    }
    .BCN .Flex div{
        height: 50px;
        width: 20px;
        padding: 10px;
    }
    .BCN .Flex div p{
        font-size: 4px;
        padding: 0px;
    }
    .BCN .Flex div h2{
        font-size: 15px;
        padding: 5px;
    }
    .BCN .Flex .Images{
        position: relative;
        bottom: 10rem;
        right: 200px;
        top: -10rem;
    }
    .Images .shape{
        height: 330px;
    }
    .Images .image{
        height: 250px;
        transform: translateX(-150%);
        margin-top: -320px;
        margin-left: 200px;
    }
    
    .Images:hover .image{
        left: 400px;
    }
    .BCN .Flex .Borders{
        height: 100px;
        width: 250px;
        position: relative;
        margin: 60px;
       justify-content: center;
       margin-left: -150px;
    }
    .CheckThanh{
        margin-left: -20px;
    }
    .BCN .Flex div p{
        font-size: 10px;
        padding: 5px;
    }
    .ThanhVien img{
        width: 50px;
    }
    .ThanhVien h1{
        font-size: 25px;
        padding: 10px;
    }
    .ThanhVien .Product_ThanhVien .product{
        box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, .1);
        width: 100px;
    }
    .ThanhVien .Product_ThanhVien{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        gap: 0.5rem;
    }
    .product-pre .pre{
        margin-right: 15rem;
        width: 20rem;
        border-radius: 30px;
        top: 20%;
        left: 5%;
    }
    .product-pre .pre .fa-solid{
        position: absolute;
        top: 0.8rem;
        right:0.8rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    .product-pre{
       min-height: 100%;
    }
} 