* {
    margin: 0;
    padding: 0;
    font-family: 'Muli';
}
#backtop {
    width: 50px;
    height: 50px;
    background: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    z-index: 5;
  }
.TQ {
    width: 100%;
    background-color: rgb(234, 228, 221);
}

.TQ1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(85, 78, 78, 0.7), rgba(3, 4, 4, 0.7)), url(image_HoatDong/429575811_122134719950051781_4642329617220679025_n.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.imglogo {
    border-radius: 50%;
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    padding: 2% 6% 1%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(141, 164, 169, 0.6);
}

.nav-links {
    flex: 1;
    text-align: center;
    font-size: large;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}

.nav-links ul li a:hover {
    color: #003056;
    size: 20px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #003056;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;

}

.headericon ul {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
}

.headericon ul li {
    justify-content: space-between;
    position: relative;
    padding: 20px;
}

.headericon ul li a i {
    color: #ffff;
    transition: 0.5s;
}

.headericon ul li a i:hover {
    color: #003056;
}

.text-box {
    font-family: cursive;
    font-size: 70px;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

nav .fa-regular {
    display: none;
}

nav .fa-bars {
    display: none;
}

#container {
    position: absolute;
    width: 100%;
}

@keyframes move {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(50vh);
    }
}

.TroGiang {
    text-align: center;
    padding: 20px;
    color: #003056;
}

.TroGiang h1 {
    font-size: 30px;
}

.TroGiang img {
    width: 300px;
    position: absolute;
    margin-top: -100px;
    margin-left: -150px;
}

#slide {
    width: max-content;
    margin-top: 50px;
    padding-top: 20px;
}

.item {
    width: 400px;
    height: 280px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
    background-size: 100%;
    z-index: 1;
}

.item:nth-child(1) {
    transform: translate(0%);
    background-position: 0% 50%;
}

.item:nth-child(2) {
    transform: translate(5%);
    background-position: 20% 50%;
}

.item:nth-child(3) {
    transform: translate(10%);
    background-position: 50% 50%;
}

.item:nth-child(4) {
    transform: translate(15%);
    background-position: 80% 50%;
}

.item:nth-child(n+5) {
    transform: translate(15%);
    background-position: 100% 50%;
    opacity: 0;
}

.buttons {
    padding-top: 10px;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.buttons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #555;
    transform: 0.5s;
}

.buttons button:hover {
    background-color: #bac383;
}

.Seminar {
    text-align: center;
    padding: 20px;
    color: #003056;
}

.Seminar h1 {
    font-size: 30px;
}

.Seminar img {
    width: 300px;
    position: absolute;
    margin-top: -100px;
    margin-left: -150px;
}

.flex {
    display: flex;
}

.buttonSer {
    margin-top: 350px;
    font-size: 30px;
}

.padding {
    margin-left: 300px;
}

.containerSer {
    padding-top: 80px;
    transform: translate(10%, 10%);
    width: 1000px;
    top: 50%;
    left: 50%;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
    margin: auto;
}

.containerSer .slideSer .itemSer {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 53%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slideSer .itemSer:nth-child(1) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slideSer .itemSer:nth-child(2) {
    left: 65%;
}

.slideSer .itemSer:nth-child(3) {
    left: calc(50%+500px);
}

.itemSer .content {
    position: absolute;
    top: 50%;
    left: 80px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
    border-radius: 10px;
    border-color: #f5f5f5;
    border-style: solid;
    /* background-image: linear-gradient(336deg, rgb(0,0,0,0.5),#EAEAE8); */
    background-color: rgb(0, 0, 0, 0.8);
    height: 350px;
    width: 450px;
    padding: 20px;
    position: absolute;
}

.slideSer .itemSer:nth-child(1) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content button {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}
.content a{
    text-decoration: none;
    color: #003056;
    font-weight: 500;
    font-size: 15px;
}
.content button:hover{
    color: #fff;
    box-shadow: 
        0 0 10px #00B0CC,
        0 0 20px #14687f,
        0 0 40px #003366,
        0 0 80px #003056,
        0 0 160px #276F78
        ;
}
.content button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #00B0CC;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;

}
.content button:hover::before {
    width: 100%;
}

.Contest {
    text-align: center;
    padding: 20px;
    color: #003056;
    margin-top: 120px;
}

.Contest h1 {
    font-size: 30px;
}

.imgchan {
    width: 300px;
    position: absolute;
    margin-top: -100px;
    margin-left: -150px;
}
:root{
    --cards:5;
    --cardHeight: 87vh;
    --cardTopPadding:1.5em;
    --cardMargin: 4vw;
}
.containerContest{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
#cards{
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards),var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}
#card1{
    --index: 1;
}
#card2{
    --index: 2;
}
#card3{
    --index: 3;
}
#card4{
    --index: 4;
}
#card5{
    --index: 5;
}
.card{
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--cardTopPadding));
}
.card-body{
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    align-items: center;
}
.card-body img{
    width: 500px;
}
#card1 .textContest{
    background-color: #52B2CF;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
}
#card2 .textContest{
    background-color: #7EC4CF;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
}
#card3 .textContest{
    background-color:#9CADCE;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
}
#card4 .textContest{
    background-color: #519fb7;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
}
#card5 .textContest{
    background-color: #5d7e87;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
}
.textContest .nameCon{
    font-size: 35px;
    text-align: center;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.textContest .desCon{
    font-size: 20px;
    line-height: 35px;
    padding-bottom: 20px;
    text-align: left;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
.textContest button{
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 30px;
    text-align: center;
    border: none;
    font-weight: 500;
    color: #f5f5f5;
    animation: animate 1s ease-in-out 1 forwards;
    z-index: 1;
    overflow: hidden;
}
.textContest button {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    border-radius: 10px;
    
}
.textContest a{
    text-decoration: none;
    color: #003056;
    font-weight: 500;
    font-size: 15px;
}
.textContest button:hover{
    color: #fff;
    box-shadow: 
        0 0 10px #00B0CC,
        0 0 20px #14687f,
        0 0 40px #003366,
        0 0 80px #003056,
        0 0 160px #276F78
        ;
}
.textContest button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #00B0CC;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;

}
.textContest button:hover::before {
    width: 100%;
}

.NgoaiKhoa {
    text-align: center;
    padding: 20px;
    color: #003056;
    margin-top: -100px;
}

.NgoaiKhoa h1 {
    font-size: 30px;
}
.NgoaiKhoa .slideNgoaiKhoa{
    position: relative;
    width: 1100px;
    max-width: 100vw;
    height: 700px;
    margin-top: 100px;
    margin-left: auto;
        margin-right: auto;
    overflow: hidden;
}
.listNgoaiKhoa{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    transition: 1s;
}
.listNgoaiKhoa img{
    width: 1100px;
    object-fit: cover;
    justify-content: center;
    max-width: 100vw;
}
.buttonNgoaiKhoa{
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttonNgoaiKhoa button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    border: none;
    color: #003056;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #0b0b0b;
    left: 0;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}
.dots li.activedots{
    width: 30px;
}
.HdKhac {
    text-align: center;
    padding: 20px;
    color: #003056;
    margin-top: 50px;
}

.HdKhac h1 {
    font-size: 30px;
}
.containerKhac{
    padding-top: 50px;
    margin: auto;
}
.wrapper{
    padding: 10px 10%;
}
.card_area{
    display: grid;
    margin-top: 50px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.cardKhac{
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.cardKhac img{
    height: 550px;
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: 0.5s;
    object-fit: cover;
}
.overlay{
    height: 0;
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(transparent,#1c1c1c 60%);
    text-align: center;
    transition: height 0.5s;
    overflow: hidden;
    color: #f5f5f5;
}
.overlay h3{
    margin-top: 55%;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}
.overlay a{
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    color: #003056;
}
.overlay button{
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 30px;
    text-align: center;
    border: none;
    font-weight: 500;
    color: #f5f5f5;
    animation: animate 1s ease-in-out 1 forwards;
    z-index: 1;
    overflow: hidden;
}
.overlay button {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    border-radius: 10px;
    
}
.overlay a{
    text-decoration: none;
    color: #003056;
    font-weight: 500;
    font-size: 15px;
}
.overlay button:hover{
    color: #fff;
    box-shadow: 
        0 0 10px #00B0CC,
        0 0 20px #14687f,
        0 0 40px #003366,
        0 0 80px #003056,
        0 0 160px #276F78
        ;
}
.overlay button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #00B0CC;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;

}
.overlay button:hover::before {
    width: 100%;
}
.cardKhac:hover img{
    transform: scaleZ(1.2);
}
.cardKhac:hover .overlay{
    height: 100%;
}
.cardKhac:hover .overlay h3{
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.cardKhac:hover .overlay button{
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}
@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.Footer{
    background: linear-gradient(#276F78,#003366);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    padding-bottom: 41px;
    position: relative;
    overflow: hidden;

}
.Footer h1{
    font-weight:bolder;
    font-size: 2.8em;
    font-family:'Tahoma';
   
}
.Footer h4{
    font-weight: lighter;
    font-size: 1.5em;
    font-family: Verdana;
    margin-top: 10px;
}
.Footer div{
    margin-top: 30px;
    font-weight: lighter;
    font-size: 1em;
    font-family: Verdana;
    
    
}
.Footer div ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

}
.Footer div ul li h3{
    padding: 10px;
    
}
.Footer  div  button {
    border:10px;
    padding: 10px 15px;
    font: 1.4em sans-serif;
    /* margin-top: 10px; */
    background-color: rgba(0,0, 0, 0.5);
    color: #fff;
    /* margin-left: 10px; */
    border-radius: 5px;
    margin-right: 20px;
    
}
.Footer  div  button a{
    text-decoration: none;
    color: #fff;
}
.Footer  div  button a:hover{
    color: #00B0CC;

}
.flex{
    display: flex;
    justify-content: flex-start;
    z-index: 4;

}
#animation{
    width: 30%;
    z-index: 4;
}
#animation img{
    width: 150%;
    animation: nudge 5s linear infinite alternate;
    animation-direction: alternate;
}
.Info{
    width: 70%;
    margin: 0;
    z-index: 4;
}
.Info ul div li {
   text-align: left;
   margin-top: 20px;
  
}
.text2 :hover{
    color: #00B0CC;
}
.text2 a:hover{
    color: #00B0CC;
}

.Info ul div li a{
    text-decoration: none;
    color: #fff;
}

.text{
    font-size: 1.8rem;
}
@keyframes nudge{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
}
  #stars-container {
    position: relative;

  }
  .snowflake {
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url('image_gioithieu/SPIT\ FRONT-\ END\ \(2\).png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    animation: snowfall 15s infinite;
    z-index: 1;
    /* background-color: #0a1a44; */
    top:0;
    left:0
  }
  
  @keyframes snowfall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(300px);
    }
  }

.gachchan{
    background-color: #00B0CC;
    height: 1.7px;
    width: 20%;
    margin: 10px ;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 20px;
}
@media(max-width: 700px) {
    #backtop {
        right: 220px;
      }
    .TQ1 {
        margin-left: auto;
        margin-right: auto;
        width: 427px;
    }

    .text-box {
        font-size: 22px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links ul li a {
        font-size: 15px;

    }

    .nav-links {
        position: absolute;
        background-color: rgb(157, 176, 180);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }

    nav .fa-regular {
        display: block;
        color: #003056;
        padding: 10px 0px 1px;
        font-size: large;
        cursor: pointer;
    }

    nav .fa-bars {
        display: block;
    }

    .nav-links ul {
        padding: 20px;
    }

    .nav-links ul li a:hover {
        color: #003056;
        size: 20px;

    }

    .nav-links i {
        padding: 20px;
    }

    .imglogo {
        border-radius: 50%;
        width: 50px;
        height: auto;
    }

    .Footer div ul{
        display: block;
        margin-left: 50px;
         margin-right: 50px;
    }
    .Info{
        display:block;
        width: 100%;
    }
    .flex{
        float: left;
        margin-bottom: 10px;
        display: block;
    }
    #animation{
        width: 100%;
    }
    #animation img{
        width: 110%;
        animation: nudge 5s linear infinite alternate;
        animation-direction: alternate;
        margin-left: 20px;
        margin-top: -20px;
        
    }
    .Footer h4{
        font-size: 20px;
    }
    .Footer h1{
        font-size: 25px;
    }

    .containerSer {
        height: 140px;
        margin-top: 45px;
        margin-left: -20px;
    }

    .itemSer .content {
        height: 150px;
        width: 220px;
        padding: 10px;
        left: 30px;
    }

    .content .name {
        font-size: 10px;
    }

    .content .des {
        font-size: 8px;
    }

    .content button {
        font-size: 8px;
        padding: 8px;
    }

    .containerSer .slideSer .itemSer {
        width: 325px;
        height: 220px;
    }

    .buttonSer {
        margin-top: 320px;
        font-size: 20px;
    }
    .padding {
        margin-right: 40px;
        margin-left: -10px;
    }

    .itemSer {
        background-position: 50% 50%;
        display: inline-block;
        transition: 1s;
        background-size: 100%;
        z-index: 1;
    }

    .itemSer:nth-child(1) {
        transform: translate(0%);
        background-position: 0% 50%;
    }

    .itemSer:nth-child(2) {
        transform: translate(5%);
        background-position: 20% 50%;
    }

    .itemSer:nth-child(3) {
        transform: translate(10%);
        background-position: 50% 50%;
    }

    .itemSer:nth-child(4) {
        transform: translate(15%);
        background-position: 80% 50%;
    }

    .itemSer:nth-child(n+5) {
        transform: translate(15%);
        background-position: 100% 50%;
        opacity: 0;
    }
    .card-body img{
        width: 400px;
        margin-left: -50px;
    }
    .card-body{
        display: inline-block;
        margin-left: 0px;
    }
    .textContest .nameCon{
        font-size: 25px;
    }
    .textContest .desCon{
        font-size: 15px;
    }
    .textContest button{
        font-size: 15px;
    }
    #cards{
        list-style: none;
        padding-left: 0;
        display:inline-block ;
    }
    .slideNgoaiKhoa{
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .buttonNgoaiKhoa{
        top: 20%;
    }
    .dots{
        top:30%;
    }
    .dots li{
        height: 8px;
        width: 8px;
    }
    .HdKhac{
        margin-top: -400px;
    }
}